/* styles/ReviewCard.css */

.review-card {
  /* display: fixed; */
  /* align-items: center; */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.review-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  align-items: center;;
}

.review-card-body {
  flex: 1;
}

.review-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.review-card-rating {
  margin-bottom: 0.5rem;
}

.review-card-preview {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
} 
